* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 320px;
    height: 420px;
    border-radius: 32px;
    padding: 4px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: start;
}
